* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul .li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul .li:nth-child(odd) {
  background: #f9f9f9;
}

ul .li:hover {
  background: #ddd;
}

ul .li.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
}

ul .li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
ul .li span, .delete {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 12px 8px 12px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer; 

}
ul .li span:hover,.delete:hover {
  background-color: #f78501;
  color: white;
}

.list .li.finished {
  text-decoration: line-through;
  background-color: #555;
}






.header {
  background-color: #f78501;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

img {
  background-color: white;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.button {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.button:hover {
  background-color: #bbb;
}
.task-stats {
  overflow: hidden;
  margin: 10px auto;
  width: 600px;
  font-size: 12px;
}
 .list {
  padding: 15px;
}
 .list .no-tasks-message {
  color: #777;
  font-size: 15px;
}
 .list > span {
  display: block;
  background-color: #FFF;
  padding: 10px;
}
 .list > span:not(:last-child) {
  margin-bottom: 10px;
}
 
.task-stats .tasks-count {
  width: 50%;
  float: left;
  padding: 10px;
  font-size: 20px;
}
.task-stats .tasks-completed {
  width: 50%;
  float: right;
  padding: 10px;
  text-align: right;
  font-size: 20px;
}
.task-stats .tasks-count span,
.task-stats .tasks-completed span {
  color: #FFF;
  padding: 1px 5px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: bold;
}
.task-stats .tasks-count span {
  background-color: #E91E63;
}
.task-stats .tasks-completed span {
  background-color: #03A9F4;
}
